@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

body {
  margin: 0;
  background: linear-gradient(180deg, #369A88 0%, #62E6AC 100%);
  height: 100vh;
  width: 100%;
  font-family: Mulish, sans-serif;
}

#root {
  height: 100%;
}

* {
  outline: none;
}