@media (max-width: 500px) {
  body {
    //height: 100%;
    .container {

      .form {
        padding: 30px;
        background: transparent;

        form {
          input {
            margin-bottom: 5px;

            &#email {
              margin-bottom: 5px;

              +.invalid {
                margin-bottom: 20px;
              }
            }
          }

        }
      }
    }
  }
}

@media (max-height: 620px) {
  body {
    height: 100%;
  }
}

@media (min-height: 620px) {
  body {
    height: 100vh;
  }
}
